@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap');

:root {
    --theme-link: #0094ff;
    --theme-link--rgb: 0, 149, 255;
}

html, body {
    color: white;
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1000px) {
    html {
        background-color: #171a44;
    }
}

body {
    background-attachment: fixed;
    background-image: linear-gradient(0deg, #090d18, #121630);
}

a {
    text-decoration: none;
}

.wikicharts {
    background-color: #171a44;
    border-radius: 3px;
    margin-inline: auto;
    margin-block: 100px;
    max-width: 1000px;
    min-height: 600px;
}

@media screen and (max-width: 1000px) {
    .wikicharts {
        margin-block: 0;
        min-height: 100vh;
    }
}

.wikicharts__sidebar {
    background-color: #090d18;
    border-radius: 3px 3px 0 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    min-height: 36px;
    padding: 12px 36px;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 1000px) {
    .wikicharts__sidebar {
        border-radius: 0;
        gap: 12px;
        padding-inline: 20px;
    }
}

.wikicharts__sidebar-buttons {
    display: flex;
    gap: 5px;
}

.wikicharts__sidebar-button {
    align-items: center;
    background-color: rgba(var(--theme-link--rgb), .1);
    border: none;
    border-radius: 3px;
    color: var(--theme-link);
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    min-height: 24px;
    padding: 6px 12px;
    text-align: center;
    transition: background-color .3s;
}

.wikicharts__sidebar-button:hover {
    background-color: rgba(var(--theme-link--rgb), .2);
}

.wikicharts__sidebar-button:active {
    background-color: rgba(var(--theme-link--rgb), .3);
}

.wikicharts__sidebar-button--start {
    background-color: rgba(var(--theme-link--rgb), 1);
    color: white;
}

.wikicharts__sidebar-button--start:hover {
    background-color: rgba(var(--theme-link--rgb), .8);
    color: white;
}

.wikicharts__sidebar-button--start:active {
    background-color: rgba(var(--theme-link--rgb), .6);
    color: white;
}

.sidebar-logo {
    align-items: center;
    display: flex;
    gap: 10px;
}

.sidebar-logo__title {
    color: rgb(128, 177, 211);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .5px;
}

.wikicharts__content {
    padding: 20px 36px;
}

@media screen and (max-width: 1000px) {
    .wikicharts__content {
        padding-inline: 20px;
    }
}

.wikicharts__content a {
    color: rgba(var(--theme-link--rgb), 1);
    transition: .3s;
}

.wikicharts__content a:hover {
    color: rgba(var(--theme-link--rgb), .8);
}

.wikicharts__section {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

.wikicharts__section:not(:last-child) {
    margin-bottom: 20px;
}

.wikicharts__section--start-quiz {
    align-items: center;
    gap: 20px;
}

.section__title {
    font-size: 1.5em;
    font-weight: bold;
    margin-inline: auto;
    margin-block: 0;
}